{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
 <!-- <link rel="stylesheet" href=""> // aqui puedo conectar mi hoja de estilo -->
{% endblock %}

{% block body %}
    {% block navbar %}
    {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
    <div>
        <img src="../static/assets/portada2.jpg" alt="Libros life" height="500px">
    </div>
    {% endblock %}

{% endblock %}